@import "tailwindcss";

@theme {
  --color-blue-50: #f0f4f9;
  --color-blue-100: #dde5f0;
  --color-blue-200: #c1d0e5;
  --color-blue-300: #99b3d4;
  --color-blue-400: #6b8dc0;
  --color-blue-500: #4D629B;
  /* IRKO Brand Blue */
  --color-blue-600: #3c4e7d;
  --color-blue-700: #313f66;
  --color-blue-800: #293454;
  --color-blue-950: #191d2d;

  --color-irko-orange: #F38D33;
}

@variant dark (&:where(.dark, .dark *));